@model IEnumerable<CamposDealerTest.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<h1>Lista de Produtos</h1>

<p>
    <a asp-action="Create">Novo Produto</a>
</p>
<table class="table">
    <thead>
        <form method="post" class="d-flex" asp-controller="Produtos" asp-action="Index">
            <input class="form-control me-2" type="text" name="busca" method="get" placeholder="Pesquisar por Descrição do Produto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Valor Unitário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProduto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProduto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProduto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
