@model CamposDealerTest.Models.Vendas
@using CamposDealerTest.Models
@{
    ViewBag.Title = "Create";
}

<h2>Nova Venda</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Vendas</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-10">
            <label>ID Cliente</label>
            @Html.DropDownList("IdCliente", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>ID Produto</label>
            @Html.DropDownList("IdProduto", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdProduto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Quantidade</label>
            @Html.EditorFor(model => model.qtdVenda, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.qtdVenda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Valor Unitário</label>
            @Html.EditorFor(model => model.vlrUnitarioVenda, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.vlrUnitarioVenda, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <label>Data Venda</label>
            @Html.EditorFor(model => model.dthVenda, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.dthVenda, "", new { @class = "text-danger" })
        </div>
    </div>


   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
