@model IEnumerable<CamposDealerTest.Models.Venda>

@{
    ViewData["Title"] = "Lista de Vendas";
}

<h1>Lista de Vendas</h1>

<p>
    <a asp-action="Create">Nova Venda</a>
</p>
<table class="table">
    <thead>
        <form method="post" class="d-flex" asp-controller="Vendas" asp-action="Index">
            <input class="form-control me-2" type="text" name="busca" method="get" placeholder="Pesquisar por Nome do cliente ou Descrição do produto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <tr>
            <th>
                Nome Cliente
            </th>
            <th>
                Descrição do Produto
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Valor Unitário
            </th>
            <th>
                Data e Hora da Venda
            </th>
            <th>
                Total da Venda
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnitarioVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotalVenda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVenda">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdVenda">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVenda">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
